.contenedor{
    width: 95%;
    margin: auto;
    margin-top: 5%;
}

.banner{
    width: 100%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-color: #302B6E;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
}

.c-acerca-de{
    border-color: #302B6E;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    background-color: #EEEEFF;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 12.5px;
}

#fotodeperfil{
    border-radius: 100%;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
}

.nombre{
    font-weight: bold;
}

#titulo{
    color: #505050;
    font-weight: bold;
    padding-bottom: 6.25px;
}

h2, p{
    margin: 0px;
}


@media (max-width: 991px){
    .acerca-de{
        display: block;
    }

    .c-acerca-de{
        margin-bottom: 6.25px;
    }
    
    #fotodeperfil{
        width: 180px;
        margin-top: -100px;
    }
    
    .nombre{
        font-size: 2.3rem;
    }
    
    .descripcion{
        width: 100%;
    }

    .descripcion > div h2{
        text-align: center;
    }

    .banner{
        height: 250px;
    }

}
  
@media (min-width: 992px){
    .acerca-de{
        display: flex;
    }
    
    .c-acerca-de{
        margin-bottom: 12.5px;
    }

    #fotodeperfil{
        width: 225px;
        margin-top: -130px;
    }

    .nombre{
        font-weight: bold;
        font-size: 2.5rem;
    }
    
    .descripcion{
        padding-right: 4%;
    }

    .banner{
        height: 300px;
    }
    
}
  